<form class="{{moduleName}}-form">
	<h3><label for="sadness-chan-redux-form-crtFailMessages">Critical fail messages:</label></h3>
	<textarea class="sadness-chan-redux-form-crtFailMessages" name="fail" id="sadness-chan-redux-form-crtFailMessages" cols="100" rows="10">{{lists.fail}}</textarea>

	<h3><label for="sadness-chan-redux-form-crtSuccessMessages">Critical success messages:</label></h3>
	<textarea class="sadness-chan-redux-form-crtSuccessMessages" name="success" id="sadness-chan-redux-form-crtSuccessMessages" cols="100" rows="10">{{lists.success}}</textarea>

	<h3><label for="sadness-chan-redux-form-portraits-success">Success portrait links:</label></h3>
	<textarea class="sadness-chan-redux-form-portraits-success" name="portraits" id="sadness-chan-redux-form-portraits-success" cols="100" rows="10">{{lists.portraits}}</textarea>

	<h3><label for="sadness-chan-redux-form-portraits-fail">Fail portrait links:</label></h3>
	<textarea class="sadness-chan-redux-form-portraits-fail" name="fail_portraits" id="sadness-chan-redux-form-portraits-fail" cols="100" rows="10">{{lists.fail_portraits}}</textarea>

	<button type="submit" name="submit">Save</button>
</form>